In [1]:
# import libraries
import pandas as pd
from pandas import DataFrame, merge
import numpy as np

In [2]:
# declare variable for first spreadsheet, from USDA website
url = 'https://www.ers.usda.gov/webdocs/DataFiles/53657/table14.xls?v=6753.2'

In [3]:
# declare variable for second spreadsheet from BLS website
url2 = 'https://download.bls.gov/pub/time.series/cu/cu.data.11.USFoodBeverage'

In [4]:
# declare variable for the spreadsheet on BLS website with the series name
url3 = 'https://download.bls.gov/pub/time.series/cu/cu.series'

In [5]:
# create dataframe df
df = pd.read_excel(url, parse_dates=True)

In [6]:
# examine the dataframe
df.head(10)

,"Table 14--Fuel ethanol, corn, and gasoline prices, by month",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Corn,Ethanol,Blender cost of ethanol with credit1,Gasoline,Corn cost per gallon ethanol2,Ethanol geg3
2,NaN,$ / bu.,$ / gal.,$ / gal.,$ / gal.,$ / gal.,$ / geg
3,1982-01-01 00:00:00,2.54,1.75,1.15,1.04,0.940741,2.61194
4,1982-02-01 00:00:00,2.44,1.7,1.1,1.01,0.903704,2.53731
5,1982-03-01 00:00:00,2.46,1.66,1.06,0.95,0.911111,2.47761
6,1982-04-01 00:00:00,2.55,1.7,1.1,0.9,0.944444,2.53731
7,1982-05-01 00:00:00,2.6,1.7,1.1,0.94,0.962963,2.53731
8,1982-06-01 00:00:00,2.57,1.7,1.1,1.05,0.951852,2.53731
9,1982-07-01 00:00:00,2.5,1.7,1.1,1.06,0.925926,2.53731

In [7]:
df.tail(10)

,"Table 14--Fuel ethanol, corn, and gasoline prices, by month",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
460,Feb-20,3.78,1.03,1.03,1.78,0.381481,1.53731
461,Mar-20,NaN,0.84,0.84,1.14,0.311111,1.25373
462,Note: Corn prices received by farmers. Ethanol...,NaN,NaN,NaN,NaN,NaN,NaN
463,NA = not available.,NaN,NaN,NaN,NaN,NaN,NaN
464,1Blenders tax credit: $0.60 per gallon through...,NaN,NaN,NaN,NaN,NaN,NaN
465,2 Based on one bushel of corn yielding 2.7 gal...,NaN,NaN,NaN,NaN,NaN,NaN
466,3geg = gasoline equivalent gallons. A gallon ...,NaN,NaN,NaN,NaN,NaN,NaN
467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,"Sources: USDA, Economic Research Service based...",NaN,NaN,NaN,NaN,NaN,NaN
469,Updated April 2020.,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# re-write column headers
df.columns = ['Month_Year', 'Corn', 'Ethanol','Blender_cost', 'Gasoline', 'Corn_cost_per_gallon', 'Ethanol_geg']

In [9]:
# drop the first three rows and last eight rows
df1 = df.drop(df.index[0:3]).drop(df.index[-8:])

In [10]:
# examine df1
df1

,Month_Year,Corn,Ethanol,Blender_cost,Gasoline,Corn_cost_per_gallon,Ethanol_geg
3,1982-01-01 00:00:00,2.54,1.75,1.15,1.04,0.940741,2.61194
4,1982-02-01 00:00:00,2.44,1.7,1.1,1.01,0.903704,2.53731
5,1982-03-01 00:00:00,2.46,1.66,1.06,0.95,0.911111,2.47761
6,1982-04-01 00:00:00,2.55,1.7,1.1,0.9,0.944444,2.53731
7,1982-05-01 00:00:00,2.6,1.7,1.1,0.94,0.962963,2.53731
...,...,...,...,...,...,...,...
457,Nov-19,3.68,1.44,1.44,1.89,1.36296,2.14925
458,Dec-19,3.71,1.32,1.32,1.82,1.37407,1.97015
459,Jan-20,3.79,1.15,1.15,1.83,0.425926,1.71642
460,Feb-20,3.78,1.03,1.03,1.78,0.381481,1.53731
461,Mar-20,NaN,0.84,0.84,1.14,0.311111,1.25373

In [11]:
# create an empty list that will become a field in df1 representing month
df_month = []

In [12]:
# create an empty list that will become a field in df1 representing year
df_Year = []

In [13]:
for i in range(0, 459):
    if len(df_month) % 12 == 0:
        df_month.append(1)
    else:
        df_month.append(df_month[-1] + 1)

In [14]:
for i in range(0, 459):
    if len(df_Year) == 0:
        df_Year.append(1982)
    elif len(df_Year) % 12 == 0:
        df_Year.append(df_Year[-1] + 1)
    else:
        df_Year.append(df_Year[-1])

In [15]:
# add the year column to df1
df1['df_year'] = df_Year

In [16]:
# add the month column to df1
df1['df_month'] = df_month

In [17]:
df1.set_index(['df_year','df_month'])

                           Month_Year  Corn Ethanol Blender_cost Gasoline  \
df_year df_month
1982    1         1982-01-01 00:00:00  2.54    1.75         1.15     1.04
        2         1982-02-01 00:00:00  2.44     1.7          1.1     1.01
        3         1982-03-01 00:00:00  2.46    1.66         1.06     0.95
        4         1982-04-01 00:00:00  2.55     1.7          1.1      0.9
        5         1982-05-01 00:00:00   2.6     1.7          1.1     0.94
...                               ...   ...     ...          ...      ...
2019    11                     Nov-19  3.68    1.44         1.44     1.89
        12                     Dec-19  3.71    1.32         1.32     1.82
2020    1                      Jan-20  3.79    1.15         1.15     1.83
        2                      Feb-20  3.78    1.03         1.03     1.78
        3                      Mar-20   NaN    0.84         0.84     1.14

                 Corn_cost_per_gallon Ethanol_geg
df_year df_month
1982    1                    0.940741     2.61194
        2                    0.903704     2.53731
        3                    0.911111     2.47761
        4                    0.944444     2.53731
        5                    0.962963     2.53731
...                               ...         ...
2019    11                    1.36296     2.14925
        12                    1.37407     1.97015
2020    1                    0.425926     1.71642
        2                    0.381481     1.53731
        3                    0.311111     1.25373

[459 rows x 7 columns]

In [18]:
# create dataframe cpi
cpi = pd.read_csv(url2, delimiter="\t")

In [19]:
# create dataframe cpi_key
cpi_key = pd.read_csv(url3, delimiter="\t")

In [20]:
# examine columns
cpi_key.columns

Index(['series_id        ', 'area_code', 'item_code', 'seasonal',
       'periodicity_code', 'base_code', 'base_period', 'series_title',
       'footnote_codes', 'begin_year', 'begin_period', 'end_year',
       'end_period'],
      dtype='object')

In [21]:
# examine cpi
cpi

        series_id          year period         value  footnote_codes
0       CUSR0000SAF        1967    M01        34.800             NaN
1       CUSR0000SAF        1967    M02        34.700             NaN
2       CUSR0000SAF        1967    M03        34.700             NaN
3       CUSR0000SAF        1967    M04        34.600             NaN
4       CUSR0000SAF        1967    M05        34.600             NaN
...                   ...   ...    ...           ...             ...
133777  CUUSS000SEFV       2018    S02       240.649             NaN
133778  CUUSS000SEFV       2018    S03       239.016             NaN
133779  CUUSS000SEFV       2019    S01       244.880             NaN
133780  CUUSS000SEFV       2019    S02       248.774             NaN
133781  CUUSS000SEFV       2019    S03       246.827             NaN

[133782 rows x 5 columns]

In [22]:
# merge the cpi and cpi_key to lookup the series title corresponding with a given series_id
cpi2 = pd.merge(cpi, cpi_key[['series_id        ','series_title']], on='series_id        ', how='left')

In [23]:
# examine cpi2
cpi2

,series_id,year,period,value,footnote_codes,series_title
0,CUSR0000SAF,1967,M01,34.800,NaN,"Food and beverages in U.S. city average, all u..."
1,CUSR0000SAF,1967,M02,34.700,NaN,"Food and beverages in U.S. city average, all u..."
2,CUSR0000SAF,1967,M03,34.700,NaN,"Food and beverages in U.S. city average, all u..."
3,CUSR0000SAF,1967,M04,34.600,NaN,"Food and beverages in U.S. city average, all u..."
4,CUSR0000SAF,1967,M05,34.600,NaN,"Food and beverages in U.S. city average, all u..."
...,...,...,...,...,...,...
133777,CUUSS000SEFV,2018,S02,240.649,NaN,"Food away from home in Size Class A, all urban..."
133778,CUUSS000SEFV,2018,S03,239.016,NaN,"Food away from home in Size Class A, all urban..."
133779,CUUSS000SEFV,2019,S01,244.880,NaN,"Food away from home in Size Class A, all urban..."
133780,CUUSS000SEFV,2019,S02,248.774,NaN,"Food away from home in Size Class A, all urban..."
133781,CUUSS000SEFV,2019,S03,246.827,NaN,"Food away from home in Size Class A, all urban..."

In [24]:
# extract only the numbers from the period field and convert to integer
# per https://download.bls.gov/pub/time.series/cu/cu.period, values in period with a M01-M12 are months, M13 is annual average. S01 is first half of year, S02 is second half of year, S03 is annual average
cpi_month = cpi2.period.str[1:].astype(int)

In [25]:
# create a cpi_period_type to differentiate between "m" for "month" (1-13 where 13 is annual average), and "s" for "semi-annual"
cpi_period_type = cpi2.period.str[0]

In [26]:
# add month to the cpi2 dataframe
cpi2['cpi_month'] = cpi_month

In [27]:
# add period_type to the cpi2 dataframe
cpi2['cpi_period_type'] = cpi_period_type

In [28]:
#examine cpi2
cpi2

,series_id,year,period,value,footnote_codes,series_title,cpi_month,cpi_period_type
0,CUSR0000SAF,1967,M01,34.800,NaN,"Food and beverages in U.S. city average, all u...",1,M
1,CUSR0000SAF,1967,M02,34.700,NaN,"Food and beverages in U.S. city average, all u...",2,M
2,CUSR0000SAF,1967,M03,34.700,NaN,"Food and beverages in U.S. city average, all u...",3,M
3,CUSR0000SAF,1967,M04,34.600,NaN,"Food and beverages in U.S. city average, all u...",4,M
4,CUSR0000SAF,1967,M05,34.600,NaN,"Food and beverages in U.S. city average, all u...",5,M
...,...,...,...,...,...,...,...,...
133777,CUUSS000SEFV,2018,S02,240.649,NaN,"Food away from home in Size Class A, all urban...",2,S
133778,CUUSS000SEFV,2018,S03,239.016,NaN,"Food away from home in Size Class A, all urban...",3,S
133779,CUUSS000SEFV,2019,S01,244.880,NaN,"Food away from home in Size Class A, all urban...",1,S
133780,CUUSS000SEFV,2019,S02,248.774,NaN,"Food away from home in Size Class A, all urban...",2,S
133781,CUUSS000SEFV,2019,S03,246.827,NaN,"Food away from home in Size Class A, all urban...",3,S

In [29]:
# remove any values that are not "m"
cpi_m = cpi2.drop(cpi2[cpi2['cpi_period_type'] != 'M'].index)

In [30]:
# ensure that all values for cpi_period_type are m
cpi_m.cpi_period_type.value_counts()

M    131194
Name: cpi_period_type, dtype: int64

In [31]:
# create a pivot table so that the year/month combined represents a row, and that each price category is a column
cpi_pt =  pd.pivot_table(cpi_m, values='       value', index=['year', 'cpi_month'], columns=['series_title'])

In [32]:
# examine the pivot table
cpi_pt.loc[(1982,1)]['Poultry in U.S. city average, all urban consumers, not seasonally adjusted']

95.3

In [33]:
# check percentage of missing data since 1982
for i in cpi_pt.columns:
    not_missing = cpi_pt.loc[1982:][i].count()
    col_size = len(cpi_pt.loc[1982:][i])
    percent_unique_values = "{:.2%}".format(not_missing/col_size)
    print(i + ' : ' + percent_unique_values)

Alcoholic beverages at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Alcoholic beverages at home in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Alcoholic beverages away from home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Alcoholic beverages away from home in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Alcoholic beverages in Size Class A, all urban consumers, not seasonally adjusted : 87.15%
Alcoholic beverages in Size Class B/C, all urban consumers, not seasonally adjusted : 58.43%
Alcoholic beverages in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Alcoholic beverages in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Apples in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Apples in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Baby food in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Bacon and related products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Bacon and related products in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Bacon, breakfast sausage, and related products in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Bacon, breakfast sausage, and related products in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Bakery products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Bakery products in U.S. city average, all urban consumers, seasonally adjusted : 68.27%
Bananas in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Bananas in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Beef and veal in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Beef and veal in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Beer, ale, and other malt beverages at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Beer, ale, and other malt beverages at home in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Beer, ale, and other malt beverages away from home in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Beverage materials including coffee and tea in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Beverage materials including coffee and tea in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Bread in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Bread in U.S. city average, all urban consumers, seasonally adjusted : 36.95%
Bread other than white in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Breakfast cereal in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Breakfast cereal in U.S. city average, all urban consumers, seasonally adjusted : 68.27%
Breakfast sausage and related products in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Breakfast sausage and related products in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Butter and margarine in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Butter and margarine in U.S. city average, all urban consumers, seasonally adjusted : 44.18%
Butter in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Butter in U.S. city average, all urban consumers, seasonally adjusted : 63.45%
Cakes, cupcakes, and cookies in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Cakes, cupcakes, and cookies in U.S. city average, all urban consumers, seasonally adjusted : 58.63%
Candy and chewing gum in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Canned fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Canned fruits and vegetables in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Canned fruits in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Canned fruits in U.S. city average, all urban consumers, seasonally adjusted : 41.77%
Canned vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Canned vegetables in U.S. city average, all urban consumers, seasonally adjusted : 51.41%
Carbonated drinks in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Carbonated drinks in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Cereals and bakery products in Size Class A, all urban consumers, not seasonally adjusted : 6.43%
Cereals and bakery products in Size Class B/C, all urban consumers, not seasonally adjusted : 6.43%
Cereals and bakery products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Cereals and bakery products in U.S. city average, all urban consumers, seasonally adjusted : 75.50%
Cereals and cereal products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Cereals and cereal products in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Cheese and related products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Cheese and related products in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Chicken in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Chicken in U.S. city average, all urban consumers, seasonally adjusted : 39.36%
Citrus fruits in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Citrus fruits in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Coffee in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Coffee in U.S. city average, all urban consumers, seasonally adjusted : 41.77%
Cookies in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Cookies in U.S. city average, all urban consumers, seasonally adjusted : 73.09%
Crackers, bread, and cracker products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Crackers, bread, and cracker products in U.S. city average, all urban consumers, seasonally adjusted : 65.86%
Dairy and related products in Size Class A, all urban consumers, not seasonally adjusted : 6.43%
Dairy and related products in Size Class B/C, all urban consumers, not seasonally adjusted : 6.43%
Dairy and related products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Dairy and related products in U.S. city average, all urban consumers, seasonally adjusted : 75.50%
Distilled spirits at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Distilled spirits at home in U.S. city average, all urban consumers, seasonally adjusted : 68.27%
Distilled spirits away from home in U.S. city average, all urban consumers, not seasonally adjusted : 58.23%
Distilled spirits away from home in U.S. city average, all urban consumers, seasonally adjusted : 53.61%
Distilled spirits, excluding whiskey, at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Distilled spirits, excluding whiskey, at home in U.S. city average, all urban consumers, seasonally adjusted : 51.41%
Dried beans, peas, and lentils in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Eggs in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Eggs in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Fats and oils in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fats and oils in U.S. city average, all urban consumers, seasonally adjusted : 75.50%
Fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fish and seafood in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Flour and prepared flour mixes in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Flour and prepared flour mixes in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Food and beverages in Size Class A, all urban consumers, not seasonally adjusted : 87.15%
Food and beverages in Size Class B/C, all urban consumers, not seasonally adjusted : 58.43%
Food and beverages in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Food and beverages in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Food at employee sites and schools in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Food at employee sites and schools in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Food at home in Size Class A, all urban consumers, not seasonally adjusted : 87.15%
Food at home in Size Class B/C, all urban consumers, not seasonally adjusted : 58.43%
Food at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Food at home in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Food away from home in Size Class A, all urban consumers, not seasonally adjusted : 87.15%
Food away from home in Size Class B/C, all urban consumers, not seasonally adjusted : 58.43%
Food away from home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Food away from home in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Food from vending machines and mobile vendors in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Food in Size Class A, all urban consumers, not seasonally adjusted : 87.15%
Food in Size Class B/C, all urban consumers, not seasonally adjusted : 58.43%
Food in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Food in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Frankfurters in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Frankfurters in U.S. city average, all urban consumers, seasonally adjusted : 44.18%
Fresh and frozen chicken parts in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh biscuits, rolls, muffins in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Fresh biscuits, rolls, muffins in U.S. city average, all urban consumers, seasonally adjusted : 32.13%
Fresh cakes and cupcakes in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Fresh fish and seafood in U.S. city average, all urban consumers, seasonally adjusted : 24.90%
Fresh fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh fruits and vegetables in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Fresh fruits in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh fruits in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Fresh milk other than whole in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Fresh milk other than whole in U.S. city average, all urban consumers, seasonally adjusted : 22.49%
Fresh sweetrolls, coffeecakes, doughnuts in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh vegetables in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Fresh whole chicken in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh whole chicken in U.S. city average, all urban consumers, seasonally adjusted : 63.45%
Fresh whole milk in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fresh whole milk in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Frozen and freeze dried prepared foods in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Frozen and freeze dried prepared foods in U.S. city average, all urban consumers, seasonally adjusted : 49.00%
Frozen and refrigerated bakery products, pies, tarts, turnovers in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Frozen and refrigerated bakery products, pies, tarts, turnovers in U.S. city average, all urban consumers, seasonally adjusted : 61.04%
Frozen fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted : 96.59%
Frozen fish and seafood in U.S. city average, all urban consumers, seasonally adjusted : 89.36%
Frozen fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Frozen fruits and vegetables in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Frozen noncarbonated juices and drinks in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Frozen vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Frozen vegetables in U.S. city average, all urban consumers, seasonally adjusted : 70.68%
Fruits and vegetables in Size Class A, all urban consumers, not seasonally adjusted : 6.43%
Fruits and vegetables in Size Class B/C, all urban consumers, not seasonally adjusted : 6.43%
Fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Fruits and vegetables in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Full service meals and snacks in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Full service meals and snacks in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Ham in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Ham in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Ham, excluding canned in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Ham, excluding canned in U.S. city average, all urban consumers, seasonally adjusted : 77.91%
Ice cream and related products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Ice cream and related products in U.S. city average, all urban consumers, seasonally adjusted : 73.09%
Instant coffee in U.S. city average, all urban consumers, not seasonally adjusted : 97.39%
Juices and nonalcoholic drinks in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Juices and nonalcoholic drinks in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Lamb and mutton in U.S. city average, all urban consumers, not seasonally adjusted : 36.75%
Lamb and organ meats in U.S. city average, all urban consumers, not seasonally adjusted : 90.96%
Lettuce in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Lettuce in U.S. city average, all urban consumers, seasonally adjusted : 34.54%
Limited service meals and snacks in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Lunchmeats in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Lunchmeats in U.S. city average, all urban consumers, seasonally adjusted : 24.90%
Margarine in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Margarine in U.S. city average, all urban consumers, seasonally adjusted : 63.45%
Meats in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Meats in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Meats, poultry, and fish in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Meats, poultry, and fish in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Meats, poultry, fish, and eggs in Size Class A, all urban consumers, not seasonally adjusted : 6.43%
Meats, poultry, fish, and eggs in Size Class B/C, all urban consumers, not seasonally adjusted : 6.43%
Meats, poultry, fish, and eggs in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Meats, poultry, fish, and eggs in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Milk in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Milk in U.S. city average, all urban consumers, seasonally adjusted : 51.41%
Nonalcoholic beverages and beverage materials in Size Class A, all urban consumers, not seasonally adjusted : 6.43%
Nonalcoholic beverages and beverage materials in Size Class B/C, all urban consumers, not seasonally adjusted : 6.43%
Nonalcoholic beverages and beverage materials in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Nonalcoholic beverages and beverage materials in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Nonfrozen noncarbonated juices and drinks in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%

Nonfrozen noncarbonated juices and drinks in U.S. city average, all urban consumers, seasonally adjusted : 24.90%
Olives, pickles, relishes in U.S. city average, all urban consumers, not seasonally adjusted : 57.23%
Oranges, including tangerines in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Oranges, including tangerines in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Other bakery products in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Other bakery products in U.S. city average, all urban consumers, seasonally adjusted : 87.55%
Other beverage materials including tea in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other beverage materials including tea in U.S. city average, all urban consumers, seasonally adjusted : 41.77%
Other condiments in U.S. city average, all urban consumers, not seasonally adjusted : 99.00%
Other condiments in U.S. city average, all urban consumers, seasonally adjusted : 76.91%
Other dairy and related products in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other dairy and related products in U.S. city average, all urban consumers, seasonally adjusted : 41.77%
Other fats and oils including peanut butter in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other fats and oils including peanut butter in U.S. city average, all urban consumers, seasonally adjusted : 41.77%
Other food at home in Size Class A, all urban consumers, not seasonally adjusted : 6.43%
Other food at home in Size Class B/C, all urban consumers, not seasonally adjusted : 6.43%
Other food at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Other food at home in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Other food away from home in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other food away from home in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Other foods in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Other foods in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Other fresh fruits in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other fresh fruits in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Other fresh vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Other fresh vegetables in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Other meats in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Other meats in U.S. city average, all urban consumers, seasonally adjusted : 56.22%
Other miscellaneous foods in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other miscellaneous foods in U.S. city average, all urban consumers, seasonally adjusted : 22.09%
Other pork including roasts, steaks, and ribs in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other pork including roasts, steaks, and ribs in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Other processed fruits and vegetables including dried in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other processed fruits and vegetables including dried in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Other sweets in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other sweets in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Other uncooked poultry including turkey in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Other uncooked poultry including turkey in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Peanut butter in U.S. city average, all urban consumers, not seasonally adjusted : 58.23%
Pork chops in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Pork chops in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Pork in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Pork in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Potatoes in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Potatoes in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Poultry in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Poultry in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Prepared salads in U.S. city average, all urban consumers, not seasonally adjusted : 32.33%
Processed fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Processed fish and seafood in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Processed fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Processed fruits and vegetables in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Rice in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Rice, pasta, cornmeal in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Rice, pasta, cornmeal in U.S. city average, all urban consumers, seasonally adjusted : 73.09%
Roasted coffee in U.S. city average, all urban consumers, not seasonally adjusted : 97.39%
Roasted coffee in U.S. city average, all urban consumers, seasonally adjusted : 44.18%
Salad dressing in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Salad dressing in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Salt and other seasonings and spices in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Salt and other seasonings and spices in U.S. city average, all urban consumers, seasonally adjusted : 34.54%
Sauces and gravies in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Sauces and gravies in U.S. city average, all urban consumers, seasonally adjusted : 34.54%
Shelf stable fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Shelf stable fish and seafood in U.S. city average, all urban consumers, seasonally adjusted : 63.45%
Snacks in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Snacks in U.S. city average, all urban consumers, seasonally adjusted : 85.14%
Soups in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Soups in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Spices, seasonings, condiments, sauces in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Spices, seasonings, condiments, sauces in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Sugar and artificial sweeteners in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Sugar and artificial sweeteners in U.S. city average, all urban consumers, seasonally adjusted : 75.50%
Sugar and sweets in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Sugar and sweets in U.S. city average, all urban consumers, seasonally adjusted : 75.50%
Tomatoes in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Tomatoes in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Uncooked beef roasts in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Uncooked beef steaks in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Uncooked beef steaks in U.S. city average, all urban consumers, seasonally adjusted : 53.82%
Uncooked ground beef in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Uncooked ground beef in U.S. city average, all urban consumers, seasonally adjusted : 92.37%
Uncooked other beef and veal in U.S. city average, all urban consumers, not seasonally adjusted : 58.43%
Whiskey at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Whiskey at home in U.S. city average, all urban consumers, seasonally adjusted : 63.45%
White bread in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Wine at home in U.S. city average, all urban consumers, not seasonally adjusted : 100.00%
Wine at home in U.S. city average, all urban consumers, seasonally adjusted : 73.09%
Wine away from home in U.S. city average, all urban consumers, not seasonally adjusted : 57.83%

In [34]:
# I selected the series that I will use for this study that cover a wide range of food products, 
# and only not-seasonally adjusted to match the ethanol information, and where there is complete data since 1982
sel_cols = ['Alcoholic beverages at home in U.S. city average, all urban consumers, not seasonally adjusted', 'Cakes, cupcakes, and cookies in U.S. city average, all urban consumers, not seasonally adjusted', 'Carbonated drinks in U.S. city average, all urban consumers, not seasonally adjusted', 'Breakfast cereal in U.S. city average, all urban consumers, not seasonally adjusted', 'Cereals and cereal products in U.S. city average, all urban consumers, not seasonally adjusted', 'Fats and oils in U.S. city average, all urban consumers, not seasonally adjusted', 'Fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted', 'Flour and prepared flour mixes in U.S. city average, all urban consumers, not seasonally adjusted', 'Food in U.S. city average, all urban consumers, not seasonally adjusted', 'Frozen vegetables in U.S. city average, all urban consumers, not seasonally adjusted', 'Fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted', 'Meats in U.S. city average, all urban consumers, not seasonally adjusted', 'Poultry in U.S. city average, all urban consumers, not seasonally adjusted', 'Dairy and related products in U.S. city average, all urban consumers, not seasonally adjusted','Ham in U.S. city average, all urban consumers, not seasonally adjusted'
,'Beef and veal in U.S. city average, all urban consumers, not seasonally adjusted','Rice, pasta, cornmeal in U.S. city average, all urban consumers, not seasonally adjusted']

In [35]:
# Drop all columns that are not on the list of sel_cols
cpi_p = cpi_pt.drop(cpi_pt.iloc[:,cpi_pt.columns.isin(sel_cols)==False], axis=1)

In [36]:
#drop all values before 1982
# question - why does this not work: cpi_f = cpi_p.drop(cpi_p.loc[:(1982,1)])
cpi_f = cpi_p.drop(cpi_p.index[:897])

In [37]:
cpi_f

series_title    Alcoholic beverages at home in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     95.000
     2                                                     95.800
     3                                                     96.300
     4                                                     96.700
     5                                                     97.000
...                                                           ...
2019 13                                                   205.490
2020 1                                                    205.582
     2                                                    207.030
     3                                                    208.219
     4                                                    209.282

series_title    Beef and veal in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     98.000
     2                                                     98.800
     3                                                     98.900
     4                                                    100.000
     5                                                    102.300
...                                                           ...
2019 13                                                   307.362
2020 1                                                    313.610
     2                                                    314.232
     3                                                    316.270
     4                                                    329.503

series_title    Breakfast cereal in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     93.100
     2                                                     94.100
     3                                                     94.300
     4                                                     94.400
     5                                                     94.600
...                                                           ...
2019 13                                                   221.819
2020 1                                                    219.421
     2                                                    217.695
     3                                                    221.578
     4                                                    224.844

series_title    Cakes, cupcakes, and cookies in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     94.200
     2                                                     94.400
     3                                                     94.800
     4                                                     95.200
     5                                                     95.500
...                                                           ...
2019 13                                                   291.213
2020 1                                                    292.549
     2                                                    288.073
     3                                                    292.379
     4                                                    296.846

series_title    Carbonated drinks in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     96.700
     2                                                     97.600
     3                                                     98.000
     4                                                     97.600
     5                                                     98.100
...                                                           ...
2019 13                                                   169.500
2020 1                                                    171.883
     2                                                    173.629
     3                                                    175.423
     4                                                    181.539

series_title    Cereals and cereal products in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     96.800
     2                                                     97.500
     3                                                     97.400
     4                                                     97.200
     5                                                     97.800
...                                                           ...
2019 13                                                   227.613
2020 1                                                    226.530
     2                                                    226.169
     3                                                    228.033
     4                                                    232.267

series_title    Dairy and related products in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     98.300
     2                                                     98.600
     3                                                     98.600
     4                                                     99.000
     5                                                     98.800
...                                                           ...
2019 13                                                   218.693
2020 1                                                    223.035
     2                                                    224.443
     3                                                    225.627
     4                                                    228.755

series_title    Fats and oils in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     96.800
     2                                                     96.400
     3                                                     96.100
     4                                                     96.400
     5                                                     96.400
...                                                           ...
2019 13                                                   226.419
2020 1                                                    227.123
     2                                                    226.890
     3                                                    228.497
     4                                                    230.824

series_title    Fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     98.900
     2                                                     99.000
     3                                                     99.700
     4                                                    101.200
     5                                                     97.000
...                                                           ...
2019 13                                                   298.493
2020 1                                                    300.842
     2                                                    298.721
     3                                                    297.550
     4                                                    311.987

series_title    Flour and prepared flour mixes in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     97.800
     2                                                     97.800
     3                                                     97.900
     4                                                     98.200
     5                                                     99.700
...                                                           ...
2019 13                                                   235.478
2020 1                                                    235.711
     2                                                    234.170
     3                                                    235.939
     4                                                    238.985

series_title    Food in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     95.800
     2                                                     96.600
     3                                                     96.400
     4                                                     96.800
     5                                                     97.300
...                                                           ...
2019 13                                                   258.316
2020 1                                                    261.057
     2                                                    261.876
     3                                                    262.708
     4                                                    266.757

series_title    Frozen vegetables in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     93.300
     2                                                     94.000
     3                                                     94.200
     4                                                     95.500
     5                                                     95.500
...                                                           ...
2019 13                                                   198.959
2020 1                                                    201.196
     2                                                    201.604
     3                                                    201.175
     4                                                    207.732

series_title    Fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     98.100
     2                                                    100.400
     3                                                     97.600
     4                                                     97.900
     5                                                     99.200
...                                                           ...
2019 13                                                   300.854
2020 1                                                    301.679
     2                                                    299.817
     3                                                    299.641
     4                                                    304.809

series_title    Ham in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     94.400
     2                                                     94.300
     3                                                     95.800
     4                                                     93.400
     5                                                     97.100
...                                                           ...
2019 13                                                   204.777
2020 1                                                    204.344
     2                                                    209.558
     3                                                    219.842
     4                                                    210.336

series_title    Meats in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     96.000
     2                                                     96.900
     3                                                     97.300
     4                                                     98.200
     5                                                    100.400
...                                                           ...
2019 13                                                   255.341
2020 1                                                    259.503
     2                                                    260.417
     3                                                    261.489
     4                                                    270.149

series_title    Poultry in U.S. city average, all urban consumers, not seasonally adjusted  \
year cpi_month
1982 1                                                     95.300
     2                                                     96.100
     3                                                     95.600
     4                                                     94.900
     5                                                     96.200
...                                                           ...
2019 13                                                   231.492
2020 1                                                    231.801
     2                                                    232.820
     3                                                    235.803
     4                                                    246.991

series_title    Rice, pasta, cornmeal in U.S. city average, all urban consumers, not seasonally adjusted
year cpi_month
1982 1                                                    102.000
     2                                                    102.900
     3                                                    102.100
     4                                                    101.000
     5                                                    101.400
...                                                           ...
2019 13                                                   238.024
2020 1                                                    237.732
     2                                                    239.446
     3                                                    238.912
     4                                                    244.852

[498 rows x 17 columns]

In [38]:
#combine the USDA dataframe with the CPI data by joining on year and month
combined = pd.merge(df1, cpi_f, left_on=['df_year','df_month'], right_on=['year','cpi_month'])

In [39]:
combined.describe()

,df_year,df_month,"Alcoholic beverages at home in U.S. city average, all urban consumers, not seasonally adjusted","Beef and veal in U.S. city average, all urban consumers, not seasonally adjusted","Breakfast cereal in U.S. city average, all urban consumers, not seasonally adjusted","Cakes, cupcakes, and cookies in U.S. city average, all urban consumers, not seasonally adjusted","Carbonated drinks in U.S. city average, all urban consumers, not seasonally adjusted","Cereals and cereal products in U.S. city average, all urban consumers, not seasonally adjusted","Dairy and related products in U.S. city average, all urban consumers, not seasonally adjusted","Fats and oils in U.S. city average, all urban consumers, not seasonally adjusted","Fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted","Flour and prepared flour mixes in U.S. city average, all urban consumers, not seasonally adjusted","Food in U.S. city average, all urban consumers, not seasonally adjusted","Frozen vegetables in U.S. city average, all urban consumers, not seasonally adjusted","Fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted","Ham in U.S. city average, all urban consumers, not seasonally adjusted","Meats in U.S. city average, all urban consumers, not seasonally adjusted","Poultry in U.S. city average, all urban consumers, not seasonally adjusted","Rice, pasta, cornmeal in U.S. city average, all urban consumers, not seasonally adjusted"
count,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000
mean,2000.627451,6.470588,157.782939,182.757490,185.982455,196.039956,130.160275,176.838630,163.105292,162.557529,196.201442,172.724048,176.061651,159.229664,209.873255,158.673662,169.813786,168.858858,167.295216
std,11.054381,3.464213,33.612245,71.465953,40.146874,60.253773,22.279745,43.320757,43.178107,44.642142,60.727566,52.143689,50.437809,35.876408,68.220798,36.257702,53.228044,44.223218,50.686464
min,1982.000000,1.000000,95.000000,95.000000,93.100000,94.200000,96.700000,96.800000,98.300000,95.500000,96.800000,97.800000,95.800000,93.300000,91.900000,93.400000,96.000000,93.500000,97.800000
25%,1991.000000,3.000000,138.400000,131.850000,168.350000,151.050000,113.650000,147.950000,126.950000,129.700000,149.250000,127.300000,136.350000,129.600000,153.700000,134.900000,131.100000,133.050000,126.550000
50%,2001.000000,6.000000,160.400000,158.600000,198.600000,190.200000,123.600000,177.200000,163.600000,153.000000,189.200000,164.800000,171.300000,162.500000,211.500000,157.300000,156.500000,162.100000,153.100000
75%,2010.000000,9.000000,191.195500,228.575500,218.002500,251.879500,155.888500,222.090500,209.374500,206.040000,244.849000,231.042500,219.945500,196.238500,280.551500,191.487000,210.012000,205.686500,230.642500
max,2020.000000,12.000000,208.219000,328.468000,231.909000,294.040000,175.423000,236.261000,229.870000,234.392000,301.048000,258.791000,262.708000,212.813000,306.796000,239.559000,267.709000,240.101000,245.318000

In [40]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 459 entries, 0 to 458
Data columns (total 26 columns):
Month_Year                                                                                           459 non-null object
Corn                                                                                                 458 non-null object
Ethanol                                                                                              459 non-null object
Blender_cost                                                                                         459 non-null object
Gasoline                                                                                             459 non-null object
Corn_cost_per_gallon                                                                                 459 non-null object
Ethanol_geg                                                                                          459 non-null object
df_year                                                                                              459 non-null int64
df_month                                                                                             459 non-null int64
Alcoholic beverages at home in U.S. city average, all urban consumers, not seasonally adjusted       459 non-null float64
Beef and veal in U.S. city average, all urban consumers, not seasonally adjusted                     459 non-null float64
Breakfast cereal in U.S. city average, all urban consumers, not seasonally adjusted                  459 non-null float64
Cakes, cupcakes, and cookies in U.S. city average, all urban consumers, not seasonally adjusted      459 non-null float64
Carbonated drinks in U.S. city average, all urban consumers, not seasonally adjusted                 459 non-null float64
Cereals and cereal products in U.S. city average, all urban consumers, not seasonally adjusted       459 non-null float64
Dairy and related products in U.S. city average, all urban consumers, not seasonally adjusted        459 non-null float64
Fats and oils in U.S. city average, all urban consumers, not seasonally adjusted                     459 non-null float64
Fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted                  459 non-null float64
Flour and prepared flour mixes in U.S. city average, all urban consumers, not seasonally adjusted    459 non-null float64
Food in U.S. city average, all urban consumers, not seasonally adjusted                              459 non-null float64
Frozen vegetables in U.S. city average, all urban consumers, not seasonally adjusted                 459 non-null float64
Fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted             459 non-null float64
Ham in U.S. city average, all urban consumers, not seasonally adjusted                               459 non-null float64
Meats in U.S. city average, all urban consumers, not seasonally adjusted                             459 non-null float64
Poultry in U.S. city average, all urban consumers, not seasonally adjusted                           459 non-null float64
Rice, pasta, cornmeal in U.S. city average, all urban consumers, not seasonally adjusted             459 non-null float64
dtypes: float64(17), int64(2), object(7)
memory usage: 96.8+ KB

In [41]:
# for loop to change all values to numeric except for Month_Year
for i in combined.columns:
    if i != 'Month_Year':
        combined[i] = pd.to_numeric(combined[i])

In [42]:
# check data types
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 459 entries, 0 to 458
Data columns (total 26 columns):
Month_Year                                                                                           459 non-null object
Corn                                                                                                 458 non-null float64
Ethanol                                                                                              459 non-null float64
Blender_cost                                                                                         459 non-null float64
Gasoline                                                                                             459 non-null float64
Corn_cost_per_gallon                                                                                 459 non-null float64
Ethanol_geg                                                                                          459 non-null float64
df_year                                                                                              459 non-null int64
df_month                                                                                             459 non-null int64
Alcoholic beverages at home in U.S. city average, all urban consumers, not seasonally adjusted       459 non-null float64
Beef and veal in U.S. city average, all urban consumers, not seasonally adjusted                     459 non-null float64
Breakfast cereal in U.S. city average, all urban consumers, not seasonally adjusted                  459 non-null float64
Cakes, cupcakes, and cookies in U.S. city average, all urban consumers, not seasonally adjusted      459 non-null float64
Carbonated drinks in U.S. city average, all urban consumers, not seasonally adjusted                 459 non-null float64
Cereals and cereal products in U.S. city average, all urban consumers, not seasonally adjusted       459 non-null float64
Dairy and related products in U.S. city average, all urban consumers, not seasonally adjusted        459 non-null float64
Fats and oils in U.S. city average, all urban consumers, not seasonally adjusted                     459 non-null float64
Fish and seafood in U.S. city average, all urban consumers, not seasonally adjusted                  459 non-null float64
Flour and prepared flour mixes in U.S. city average, all urban consumers, not seasonally adjusted    459 non-null float64
Food in U.S. city average, all urban consumers, not seasonally adjusted                              459 non-null float64
Frozen vegetables in U.S. city average, all urban consumers, not seasonally adjusted                 459 non-null float64
Fruits and vegetables in U.S. city average, all urban consumers, not seasonally adjusted             459 non-null float64
Ham in U.S. city average, all urban consumers, not seasonally adjusted                               459 non-null float64
Meats in U.S. city average, all urban consumers, not seasonally adjusted                             459 non-null float64
Poultry in U.S. city average, all urban consumers, not seasonally adjusted                           459 non-null float64
Rice, pasta, cornmeal in U.S. city average, all urban consumers, not seasonally adjusted             459 non-null float64
dtypes: float64(23), int64(2), object(1)
memory usage: 96.8+ KB

In [43]:
#shorten column names
combined.columns = combined.columns.str.replace(' in U.S. city average, all urban consumers, not seasonally adjusted', '')

In [44]:
# get summary statistics
combined.describe()

,Corn,Ethanol,Blender_cost,Gasoline,Corn_cost_per_gallon,Ethanol_geg,df_year,df_month,Alcoholic beverages at home,Beef and veal,...,Fats and oils,Fish and seafood,Flour and prepared flour mixes,Food,Frozen vegetables,Fruits and vegetables,Ham,Meats,Poultry,"Rice, pasta, cornmeal"
count,458.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,...,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000
mean,3.025721,1.573159,1.145534,1.312200,1.114871,2.347999,2000.627451,6.470588,157.782939,182.757490,...,162.557529,196.201442,172.724048,176.061651,159.229664,209.873255,158.673662,169.813786,168.858858,167.295216
std,1.246434,0.512503,0.613034,0.813561,0.465173,0.764930,11.054381,3.464213,33.612245,71.465953,...,44.642142,60.727566,52.143689,50.437809,35.876408,68.220798,36.257702,53.228044,44.223218,50.686464
min,1.400000,0.750000,0.150000,0.360000,0.311111,1.119403,1982.000000,1.000000,95.000000,95.000000,...,95.500000,96.800000,97.800000,95.800000,93.300000,91.900000,93.400000,96.000000,93.500000,97.800000
25%,2.162500,1.190000,0.650000,0.630000,0.800000,1.776119,1991.000000,3.000000,138.400000,131.850000,...,129.700000,149.250000,127.300000,136.350000,129.600000,153.700000,134.900000,131.100000,133.050000,126.550000
50%,2.600000,1.430000,0.980000,0.940000,0.959259,2.134328,2001.000000,6.000000,160.400000,158.600000,...,153.000000,189.200000,164.800000,171.300000,162.500000,211.500000,157.300000,156.500000,162.100000,153.100000
75%,3.560000,1.720000,1.520000,1.930000,1.318519,2.567164,2010.000000,9.000000,191.195500,228.575500,...,206.040000,244.849000,231.042500,219.945500,196.238500,280.551500,191.487000,210.012000,205.686500,230.642500
max,7.630000,3.580000,3.150000,3.370000,2.825926,5.343284,2020.000000,12.000000,208.219000,328.468000,...,234.392000,301.048000,258.791000,262.708000,212.813000,306.796000,239.559000,267.709000,240.101000,245.318000

In [45]:
combined = combined.set_index(['df_year','df_month'])

In [46]:
combined

                           Month_Year  Corn  Ethanol  Blender_cost  Gasoline  \
df_year df_month
1982    1         1982-01-01 00:00:00  2.54     1.75          1.15      1.04
        2         1982-02-01 00:00:00  2.44     1.70          1.10      1.01
        3         1982-03-01 00:00:00  2.46     1.66          1.06      0.95
        4         1982-04-01 00:00:00  2.55     1.70          1.10      0.90
        5         1982-05-01 00:00:00  2.60     1.70          1.10      0.94
...                               ...   ...      ...           ...       ...
2019    11                     Nov-19  3.68     1.44          1.44      1.89
        12                     Dec-19  3.71     1.32          1.32      1.82
2020    1                      Jan-20  3.79     1.15          1.15      1.83
        2                      Feb-20  3.78     1.03          1.03      1.78
        3                      Mar-20   NaN     0.84          0.84      1.14

                  Corn_cost_per_gallon  Ethanol_geg  \
df_year df_month
1982    1                     0.940741     2.611940
        2                     0.903704     2.537313
        3                     0.911111     2.477612
        4                     0.944444     2.537313
        5                     0.962963     2.537313
...                                ...          ...
2019    11                    1.362963     2.149254
        12                    1.374074     1.970149
2020    1                     0.425926     1.716418
        2                     0.381481     1.537313
        3                     0.311111     1.253731

                  Alcoholic beverages at home  Beef and veal  \
df_year df_month
1982    1                              95.000         98.000
        2                              95.800         98.800
        3                              96.300         98.900
        4                              96.700        100.000
        5                              97.000        102.300
...                                       ...            ...
2019    11                            205.127        308.601
        12                            204.376        313.818
2020    1                             205.582        313.610
        2                             207.030        314.232
        3                             208.219        316.270

                  Breakfast cereal  ...  Fats and oils  Fish and seafood  \
df_year df_month                    ...
1982    1                   93.100  ...         96.800            98.900
        2                   94.100  ...         96.400            99.000
        3                   94.300  ...         96.100            99.700
        4                   94.400  ...         96.400           101.200
        5                   94.600  ...         96.400            97.000
...                            ...  ...            ...               ...
2019    11                 218.774  ...        223.277           298.291
        12                 221.618  ...        221.930           298.123
2020    1                  219.421  ...        227.123           300.842
        2                  217.695  ...        226.890           298.721
        3                  221.578  ...        228.497           297.550

                  Flour and prepared flour mixes     Food  Frozen vegetables  \
df_year df_month
1982    1                                 97.800   95.800             93.300
        2                                 97.800   96.600             94.000
        3                                 97.900   96.400             94.200
        4                                 98.200   96.800             95.500
        5                                 99.700   97.300             95.500
...                                          ...      ...                ...
2019    11                               224.422  259.467            199.326
        12                               225.638  259.823            195.858
2020    1                                235.711  261.057            201.196
        2                                234.170  261.876            201.604
        3                                235.939  262.708            201.175

                  Fruits and vegetables      Ham    Meats  Poultry  \
df_year df_month
1982    1                        98.100   94.400   96.000   95.300
        2                       100.400   94.300   96.900   96.100
        3                        97.600   95.800   97.300   95.600
        4                        97.900   93.400   98.200   94.900
        5                        99.200   97.100  100.400   96.200
...                                 ...      ...      ...      ...
2019    11                      297.472  210.880  257.298  230.686
        12                      297.105  199.772  258.572  234.502
2020    1                       301.679  204.344  259.503  231.801
        2                       299.817  209.558  260.417  232.820
        3                       299.641  219.842  261.489  235.803

                  Rice, pasta, cornmeal
df_year df_month
1982    1                       102.000
        2                       102.900
        3                       102.100
        4                       101.000
        5                       101.400
...                                 ...
2019    11                      238.499
        12                      234.282
2020    1                       237.732
        2                       239.446
        3                       238.912

[459 rows x 24 columns]